<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query">
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Title</option>
          <option value="author">Author</option>
        </select>
      </p>
      <div class="text-right" ng-hide="!$ctrl.canEdit()" >
  			<button type="button" class="btn btn-primary" ng-click="$ctrl.addBook()">Add</button>
  		</div>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="books">
        <li ng-repeat="book in $ctrl.books | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
  		  <a href="#!/books/{{book.bookId}}" class="thumb">
  			  <img ng-src="{{book.imageUrl}}" alt="{{book.name}}" />
  		  </a>
          <a href="#!/books/{{book.bookId}}">{{book.name}}</a>
          <p>{{book.author}}</p>
          <button type="button" class="trash-icon btn btn-default btn-sm" ng-hide="!$ctrl.canEdit()" ng-click="$ctrl.deleteBook(book.bookId)">
              <span class="glyphicon glyphicon-trash"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
