body {
  padding-top: 20px;
}

.books {
  list-style: none;
}

.books li {
  clear: both;
  height: 150px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

.detailText {
	width: 300px;
}

.detailTextArea {
	width: 300px;
}

.trash-icon {
  float: right;
}

.reviews {
  list-style: none;
}

.reviews li {
  clear: both;
  height: 100px;
  padding-top: 15px;
}

.login-form {
  width: 340px;
    margin: 50px auto;
}
.login-form form {
  margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {
    font-size: 15px;
    font-weight: bold;
}
