body {
  padding-top: 20px;
}

.books {
  list-style: none;
}

.books li {
  clear: both;
  height: 150px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

.detailText {
	width: 300px;
}

.detailTextArea {
	width: 300px;
}
